*.pyc
*.swp
*.swo
*.db
*.log
*.sqlite3
node_modules/
env/
__pycache__/
*.tar.gz
*.zip
*.gz
sites/*/private/backups/
sites/*/public/backups/
sites/assets/
sites/*/locks/
sites/*/task-logs/
sites/*/logs/
